.number-animate-view {
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
}

.number-animate-placeholder {
  visibility: hidden;
}

.number-animate-column-container {
  position: relative;
}

.number-animate-column {
  position: absolute;
  height: 1000%;
  transition: transform var(--duration, 500ms) cubic-bezier(0.37, 0.37, 0.11, 1.25);
}

.number-animate-view:not(.number-animate-view-reverse) .number-animate-column {
  top: 0;
}

.number-animate-view-reverse .number-animate-column {
  bottom: 0;
}

.number-animate-digit {
  height: 10%;
}

.number-animate-column.increase {
  color: var(--increment, #00b200);
}

.number-animate-column.decrease {
  color: var(--decerement, red);
}